<div class="card">
    <div class="card-header">
        {{welcomeTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src= "assets/images/goat-300x400-1.jpg" alt=""
                class="img-responsive center"
                style="max-height:250px; padding-bottom: 50px;"/>
            </div>

            <div class="text-center">Developed By:</div>
            <div class="text-center">
                <H4>Philip Onuchukwu</H4>
            </div>

            <div class="text-center">@_sirphil</div>
            <div class="text-center">
                <a href="/">Contact me here</a>
            </div>
        </div>
    </div>
</div>